* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
     background-color: white;
     background-size: cover;
     width: 100%;
     height: auto;

}

#nav {
  background-color: #E0F7FF;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


 .titulo {
     align-content: center;
     text-align: center;
     align-items: center;
     padding: 22vw;
     margin-top: 15px;
     justify-content: center;
     width: 100%;
     height: auto;
}

@media (min-width: 300px) and (max-width: 900px) {
 .titulo {
     align-content: center;
     text-align: center;
     align-items: center;
     margin-top: 25px;
     margin-right: 25px;
     justify-content: center;
     width: 100%;
     height: auto;
    }
}

 .bigger{
     text-align: center;
     font-size: 60px;
     align-content: center;
     align-items: center;
     justify-content: center;
     margin: 0px auto;
     width: 100%;
     height: auto;

}
@media (min-width: 300px) and (max-width: 900px) {
     .bigger {
         padding: 45px;
         text-align: center;
         font-size: 30px;
         justify-content: center;
         align-items: center;
         margin-top: 10px;
         margin-left: -30px;
         width: 100%;
         height: auto;


    }
}

 .description{
     font-size: 35px;
     color: #323232;
     align-items: center;
     text-align: center;
     justify-content: center;
}
 @media (min-width: 300px) and (max-width: 900px) {
     .description {
         padding: 0px;
         text-align: center;
         font-size: 24px;
         margin: 0px;
         align-content: center;
         align-items: center;
         justify-content: center;

    }
}

.carrinho {
    width: 50px;
    height: auto;
}

h1 {
     font-size: 35px;
     text-align: center;
     align-content: center;
     align-items: center;
     height: auto;
     margin: 0px auto;
     padding-bottom: 15px;
}
@media (min-width: 300px) and (max-width: 900px) {
     h1 {
         padding: 0px;
         text-align: center;
         align-content: center;
         align-items: center;
         font-size: 24px;
         margin: 0px auto;
    }
}


 h2 {
     text-align: center;
     margin: 0px auto;
     padding-bottom: 20px;
     color: #011427;
     align-content: center;
     align-items: center;
     font-size: 28px;
     width: 100%;
     height: auto;


}
@media (min-width: 300px) and (max-width: 900px) {
     h2 {
         text-align: center;
         font-size: 18px;
         margin: 20px auto;
         align-content: center;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: auto;
    }
}

 h3 {
     text-align: center;
     margin: 0px auto;
     padding-bottom: 15px;
     color: #011427;
     align-content: center;
     align-items: center;
     font-size: 24px;

}
@media (min-width: 300px) and (max-width: 900px) {
     h3 {
         padding: 0px;
         text-align: center;
         font-size: 16px;
         margin: 0px auto;
         align-content: center;
         align-items: center;
    }
}

.produto {
     width: 100%;
     height: auto;
     margin: 0px auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     transition-duration: 0.4s;


}

.imagem {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
        width: 350px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 7px;
        max-width: 100%;
        margin: 20px auto;
        background-color: #ffab24;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        transition-duration: 0.4s;

}

.imagem:hover {
   transform: scale(1.1);

}


.imagem p, h3 {
    color: #011427;
    text-align: center;
    padding: 10px;

}
@media (min-width: 300px) and (max-width: 900px) {
 .imagem {
   transition-duration: 0.3s;


 }

 .imagem:hover {
    transform: scale(0);

        }
}

 footer {
     width: 100%;
     height: auto;
     text-align: center;
     align-items: center;
     align-content: center;
     background-color: #E0F7FF;
     opacity: 0.9;
     font-size: 18px;
     border-radius: 5px;


}

.footer {
    text-align: center;
    font-size: 16px;
    align-items: center;
    justify-content: center;
	text-align: center;
	display: inline-block;
	color: #011427;
	width: 100%;
	height: auto;
}

 .rodape {
     width: 40px;
     margin: 16px 1.5px 5px 0px;
     padding: 7px;
     height: auto;

}

.rodape:hover {
    opacity: 0.4;
    transition: 0.5s ease;
}

.pf {
    padding: 15px;
    margin: -10px;
}


#about {
        margin-top: 120px;

}